#ser
{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url(Images/service.jpg);
   /*background-image: url(Images/service.jpg);*/
    padding: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
   background-attachment: fixed;
   font-size: 20px;
   color: white;
}
.ser1 h1
{
    color: black;
}
.ser1 p
{
    color: black;
    font-size: 17px;
    text-align: center;
}
.ser1 a
{
    text-decoration: none;
}
.ser1 a h3:hover
{
   color: darkblue;
   
}
.ser1 a h3
{
   color: black;
    text-align: center;
}
.ser2 p
{
    color: black;
    font-size: 17px;
    text-align: center;
}

#font
{
    font-size: 50px;
    padding: 30px;  
    color: darkred;
}