.container
{
    margin-bottom: 50px;
}
.cart-item-list
{
     max-width: 850px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(222, 222, 222);
    border-radius: 10px;
    padding: 30px;
    margin: auto;
}
.cart-item
{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(222, 222, 222);
}
.cart-pruduct
{
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.d-grid
{
    display: grid;
}
.cart-left  img
{
    width: 100px;
}
.cart-product-name p
{
    font-size: 16px;
}
.cart-product-name h5
{
    font-size: 18px;
    margin-top: 10px;
}
p
{
    margin: 0px;
    padding: 0px;
}
.cart-left
{
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
cart-right
{
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.quantity-select
{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(222, 222, 222);
    border-image: initial;
    border-radius: 10px;
}
.entry.value-minus
{
    margin-left: 0px;
}
.d-flex
{
    display: flex;
}
.value-minus,.value-plus {
    height: 40px;
    line-height: 24px;
    width: 40px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    user-select: none;
    vertical-align: bottom;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}
.value 
{
    cursor: default;
    width: 40px;
    height: 40px;
    color: rgb(51, 51, 51);
    line-height: 40px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 3px;
    text-align: center;
    border-left: 1px solid rgb(222, 222, 222);
    border-right: 1px solid rgb(222, 222, 222);
}
.delete-icon
{
    line-height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(222, 222, 222);
    border-radius: 8px;
    padding: 0px 8px;
  
}
.fa
{
    font-size: 30px;
}
.buttons
{
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
 a.back 
 {
    color: black;
    text-decoration: underline;
}
.jumbotron
{
    max-width: 850px;
 padding: 30px;
    margin: auto;
}
.jumbotron p
{
    font-size: 15px;
    text-align: justify;
}